<div class="container-fluid bg-light">
  <div class="container p-0">
    <%= render 'header' %>
    <%= render 'add_modal' %>
  </div>
  <div class="container bg-white posts">
    <% @posts.each do |post| %>
      <div class="post-wrapper col-12 col-md-8 col-lg-6 py-2">
        <div class="post-user">
          <h6>@<span class="post-user"><%= post.user.username %></span</h6>
        </div>
        <div class="post">
          <a href="<%= post_path(post) %>">
            <img src="<%= post.image_url %>" class="img-fluid img-thumbnail" />
          </a>
        </div>
        <div class="post-caption">
          <h6 class="mt-2 d-inline-block"><%= post.caption %></h6>
          <%= link_to '', add_likes_path(post_id: post.id), remote: true, method: :post, class: "far fa-heart ml-3 like-icon" %><span class="ml-2" data-post="<%= post.id %>"><%= post.likes[0].like_count %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container">
    <%= will_paginate @posts %>
  </div>
</div>
