<div class="container-fluid bg-light">
  <div class="container">
    <%= render 'header' %>
    <%= render 'add_modal' %>
  </div>
  <div class="container bg-white posts">
    <% @posts.each do |post| %>
      <div class="post-wrapper col-12 col-md-8 col-lg-6">
        <div class="post-user">
          <h6>@<span class="post-user"><%= post.user.username %></span</h6>
        </div>
        <div class="post">
          <img src="<%= post.image.url %>" class="img-fluid img-thumbnail" />
        </div>
        <div class="post-caption">
          <h6 class="mt-2"><%= post.caption %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
